
#useDynLib(openair, .registration = TRUE)

#import
#import()

importFrom(utils, head, tail)

export(

       ##data:
       ##mydata,

       #methods
       results,

       ##imports:
       import,
       importADMS,
       importAURN,
       importAURNCsv,
       importKCL,

       ##general utils:
       cutData,
       drawOpenKey,
       openColours,
       quickText,
       selectByDate,
       splitByDate,
       timeAverage,

       ##calc utils:
       calcPercentile,
       rollingMean,

       ##general plots:
       scatterPlot,
       summaryPlot,
       timePlot,
       trendLevel, trendLevelHour, trendLevelWd,

       ##specialist plot/functions:

       #misc
       calcFno2,
       calendarPlot,
       linearRelation,
       MannKendall,
       smoothTrend,
       timeVariation,

       #polar plots:
       polarAnnulus,
       polarFreq,
       polarPlot,

       #kernel density
       kernelExceed, 
              
       ##wind roses:
       windRose, pollutionRose,

       #terminator pollutionRose

       ## modStats
       modStats,
       conditionalQuantile

       )


## methods for
#S3method()

       S3method(names, openair)
       S3method(plot, openair)
       S3method(print, openair)
       S3method(summary, openair)
       S3method(head, openair)
       S3method(tail, openair)
       S3method(results, openair)
       S3method(results, default)

### Local variables:
### mode: R
### End:

#old version
#exportPattern("^[^\\.]")
